* text=auto !eol
/Glide64.sln -text
/Glide64.workspace -text
Glide64/3dmath.cpp -text
Glide64/3dmath.h -text
Glide64/3dmathSIMD.asm -text
Glide64/CB/Glide64.cbp -text
Glide64/CRC.cpp -text
Glide64/CRC.h -text
Glide64/Combine.cpp -text
Glide64/Combine.h -text
Glide64/Config.cpp -text
Glide64/Config.h -text
Glide64/Debugger.cpp -text
Glide64/Debugger.h -text
Glide64/DepthBufferRender.cpp -text
Glide64/DepthBufferRender.h -text
Glide64/Ext_TxFilter.cpp -text
Glide64/Ext_TxFilter.h -text
Glide64/FBtoScreen.cpp -text
Glide64/FBtoScreen.h -text
Glide64/FixedPoint.asm -text
Glide64/Gfx[!!-~]#1.3.h -text
Glide64/GlideExtensions.h -text
Glide64/Help/Glide64[!!-~]Help.chm -text
Glide64/Help/Glide64[!!-~]Known[!!-~]Issues.html -text
Glide64/Help/Glide64[!!-~]Readme.html -text
Glide64/Help/Glide64[!!-~]compatibility[!!-~]list.html -text
Glide64/Internalization/Glide64_de_DE.po -text
Glide64/Internalization/Glide64_en.pot -text
Glide64/Internalization/Glide64_fr_FR.po -text
Glide64/Internalization/Glide64_ja_JP.po -text
Glide64/Internalization/Glide64_ru_RU.po -text
Glide64/Internalization/Glide64_zh_CN.po -text
Glide64/Internalization/Glide64_zh_TW.po -text
Glide64/Keys.cpp -text
Glide64/Keys.h -text
Glide64/MSVS/Glide64.vcproj -text
Glide64/Main.cpp -text
Glide64/Makefile.gcc -text
Glide64/MiClWr16b.h -text
Glide64/MiClWr32b.h -text
Glide64/MiClWr8b.h -text
Glide64/TexBuffer.cpp -text
Glide64/TexBuffer.h -text
Glide64/TexCache.cpp -text
Glide64/TexCache.h -text
Glide64/TexConv.h -text
Glide64/TexLoad.h -text
Glide64/TexLoad16b.h -text
Glide64/TexLoad32b.h -text
Glide64/TexLoad4b.h -text
Glide64/TexLoad8b.h -text
Glide64/TexMod.h -text
Glide64/TexModCI.h -text
Glide64/Texture.asm -text
Glide64/Util.cpp -text
Glide64/Util.h -text
Glide64/australia.xpm -text
Glide64/brazil.xpm -text
Glide64/build_asm.bat -text
Glide64/config/Glide64.ini -text
Glide64/cursor.h -text
Glide64/font.h -text
Glide64/france.xpm -text
Glide64/gpl.txt -text
Glide64/inc/3dfx.h -text
Glide64/inc/c32.mac -text
Glide64/inc/glide.h -text
Glide64/inc/glidesys.h -text
Glide64/inc/glideutl.h -text
Glide64/inc/sst1vid.h -text
Glide64/japan.xpm -text
Glide64/lib/glide3x.lib -text
Glide64/logo.xpm -text
Glide64/rdp.cpp -text
Glide64/rdp.h -text
Glide64/russia.xpm -text
Glide64/turbo3D.h -text
Glide64/ucode.h -text
Glide64/ucode00.h -text
Glide64/ucode01.h -text
Glide64/ucode02.h -text
Glide64/ucode03.h -text
Glide64/ucode04.h -text
Glide64/ucode05.h -text
Glide64/ucode06.h -text
Glide64/ucode07.h -text
Glide64/ucode08.h -text
Glide64/ucode09.h -text
Glide64/ucode09rdp.h -text
Glide64/ucodeFB.h -text
Glide64/usa.xpm -text
GlideHQ/CB/BuildNo.cbp -text
GlideHQ/CB/GlideHQ.cbp -text
GlideHQ/Ext_TxFilter.cpp -text
GlideHQ/Ext_TxFilter.h -text
GlideHQ/GlideHQ.rc -text
GlideHQ/MSVS/BuildNo.vcproj -text
GlideHQ/MSVS/GlideHQ.vcproj -text
GlideHQ/Makefile.gcc -text
GlideHQ/Makefile.vc8 -text
GlideHQ/README.txt -text
GlideHQ/TextureFilters.cpp -text
GlideHQ/TextureFilters.h -text
GlideHQ/TextureFilters_2xsai.cpp -text
GlideHQ/TextureFilters_2xsai.h -text
GlideHQ/TextureFilters_hq2x.cpp -text
GlideHQ/TextureFilters_hq2x.h -text
GlideHQ/TextureFilters_hq4x.cpp -text
GlideHQ/TextureFilters_hq4x.h -text
GlideHQ/TextureFilters_lq2x.h -text
GlideHQ/TxCache.cpp -text
GlideHQ/TxCache.h -text
GlideHQ/TxDbg.cpp -text
GlideHQ/TxDbg.h -text
GlideHQ/TxFilter.cpp -text
GlideHQ/TxFilter.h -text
GlideHQ/TxFilterExport.cpp -text
GlideHQ/TxHiResCache.cpp -text
GlideHQ/TxHiResCache.h -text
GlideHQ/TxImage.cpp -text
GlideHQ/TxImage.h -text
GlideHQ/TxInternal.h -text
GlideHQ/TxQuantize.cpp -text
GlideHQ/TxQuantize.h -text
GlideHQ/TxReSample.cpp -text
GlideHQ/TxReSample.h -text
GlideHQ/TxTexCache.cpp -text
GlideHQ/TxTexCache.h -text
GlideHQ/TxUtil.cpp -text
GlideHQ/TxUtil.h -text
GlideHQ/bldno.cpp -text
GlideHQ/gpl-2.0.txt -text
GlideHQ/inc/png.h -text
GlideHQ/inc/pngconf.h -text
GlideHQ/inc/zconf.h -text
GlideHQ/inc/zlib.h -text
GlideHQ/lib/dxtn.lib -text
GlideHQ/lib/dxtnd.lib -text
GlideHQ/lib/libpng.lib -text
GlideHQ/lib/libpngd.lib -text
GlideHQ/lib/zlib.lib -text
GlideHQ/lib/zlibd.lib -text
GlideHQ/tc-1.1+/Makefile.gcc -text
GlideHQ/tc-1.1+/Makefile.vc8 -text
GlideHQ/tc-1.1+/dxtn.c -text
GlideHQ/tc-1.1+/dxtn.h -text
GlideHQ/tc-1.1+/fxt1.c -text
GlideHQ/tc-1.1+/fxt1.h -text
GlideHQ/tc-1.1+/fxt1license.txt -text
GlideHQ/tc-1.1+/internal.h -text
GlideHQ/tc-1.1+/texstore.c -text
GlideHQ/tc-1.1+/types.h -text
GlideHQ/tc-1.1+/wrapper.c -text
GlideHQ/test/Makefile.gcc -text
GlideHQ/test/Makefile.vc8 -text
GlideHQ/test/test.cpp -text
Glitch64/3dfx-mangling.h -text
Glitch64/CB/Glitch64.cbp -text
Glitch64/MSVS/Glitch64.vcproj -text
Glitch64/Makefile.gcc -text
Glitch64/combiner.cpp -text
Glitch64/geometry.cpp -text
Glitch64/inc/3dfx.h -text
Glitch64/inc/dxdiag.h -text
Glitch64/inc/g3ext.h -text
Glitch64/inc/gl.h -text
Glitch64/inc/glext.h -text
Glitch64/inc/glide.h -text
Glitch64/inc/glidesys.h -text
Glitch64/inc/glideutl.h -text
Glitch64/inc/sst1vid.h -text
Glitch64/inc/wglext.h -text
Glitch64/lib/dxguid.lib -text
Glitch64/main.cpp -text
Glitch64/main.h -text
Glitch64/textures.cpp -text
Glitch64/vram.cpp -text
gltest/N64[!!-~]Unit.ico -text
gltest/Sound/bass.dll -text
gltest/Sound/bass.h -text
gltest/framebuffmsvc.dsp -text
gltest/framebuffmsvc.dsw -text
gltest/framebuffmsvc.sln -text
gltest/framebuffmsvc.vcproj -text
gltest/glTest.cpp -text
gltest/glext.h -text
gltest/gltest.h -text
gltest/gltest_private.h -text
gltest/gltest_resource.rc -text
gltest/mainbackground.bmp -text
gltest/resource.h -text
/todo!.txt -text
